<template>
<div class="flex border-2 border-gray-300 flex-col m-auto my-40 p-8 shadow-2xl w-96 self-center rounded bg-gradient-to-t from-gray-100 to-gray-200">
  <div v-if="state === 0">
    Loading...
  </div>

  <div v-if="state === 1" class="flex flex-row">
    <div class="flex-1"></div>
    <img
      class="w-2/3"
      src="https://avataaars.io/?avatarStyle=Circle&topType=ShortHairDreads01&accessoriesType=Kurt&hatColor=PastelYellow&hairColor=Auburn&facialHairType=MoustacheFancy&facialHairColor=Black&clotheType=ShirtVNeck&clotheColor=Gray01&eyeType=WinkWacky&eyebrowType=UpDown&mouthType=Smile&skinColor=Light"
      alt="User Picture"/>
    <div class="flex-1"></div>
  </div>

  <div v-if="state === 1" class="flex flex-row pt-8 text-xl">
    <div class="flex-1"></div>
    <p>{{email}}</p>
    <div class="flex-1"></div>
  </div>

  <div v-if="state === 1" class="flex flex-row pt-4 text-xl font-bold">
    <div class="flex-1"></div>
    <p>{{username}}</p>
    <div class="flex-1"></div>
  </div>

  <div v-if="state === 2" class="flex flex-row pt-4 font-bold text-red-700">
    <div class="flex-1"></div>
    <p>{{error}}</p>
    <div class="flex-1"></div>
  </div>
</div>
</template>

<script>
import axios from 'axios'

const auth = axios.create({
  baseURL: process.env.AUTH_ENDPOINT
})

export default {
  data: () => ({
    state: 0,
    email: '',
    username: '',
    error: ''
  }),
  created() {
    this.getData()
  },
  methods: {
    async getData() {
      const id = Number(this.$route.params.id)
      const token = this.$store.state.session.token

      if(!token) this.$router.push(`/sign-up?${token}`)
      try {
        const { data } = await auth.get(`/600/users/${id}`, {
          headers: { authorization: `Bearer ${token}` }
        })
        this.email = data.email
        this.username = data.username
        this.state = 1
      } catch ({ response }) {
        if(response?.status === 403)
          this.error = "You cannot access this page. Try to login with the correct credentials."
        else if(response?.status === 401)
          this.error = "This user id does not exist. Try to login again."
        else
          this.error = "Something went wrong, try again later."
        this.state = 2
      }
    }
  }
}
</script>