<template>
    <div class="flex h-screen" style="background-image: url('/jeans.jpg'); background-repeat: repeat">
        <Nuxt />
    </div>
</template>

<script>
export default {
  layout: 'default'
}
</script>