<template>
<form class="flex border-2 border-gray-300 flex-col m-auto my-40 p-8 shadow-2xl w-96 self-center rounded bg-gradient-to-t from-gray-100 to-gray-200" @submit="submit">
  <h1 class="text-center text-3xl pb-4">Sign up</h1>
  <div v-if="msg.submit !== ''" class="flex flex-row text-red-700">
    <div class="flex-1"></div>
    <p>{{msg.submit}}</p>
    <div class="flex-1"></div>
  </div>
  <div class="flex flex-row my-2">
    <div class="md:w-1/3 flex flex-row itens-end">
      <div class="flex-1"></div>
      <label for="email" class="pt-1 font-bold">email</label>
      <div class="w-4"></div>
    </div>
    <div class="md:w-2/3">
      <input 
        id="email" 
        v-model="form.email" 
        class ="shadow-inner border-gray-400 border text-sm px-2 pt-1 pb-2 rounded bg-gradient-to-b from-gray-100 to-gray-300" 
        :class="{
          'text-red-700': valid.email == 1,
          'text-green-700': valid.email == 2 }"
        type="email"
        name="email"/>
      <div v-if="valid.email == 1" class="text-xm text-red-700">
        {{ msg.email }}
      </div>
    </div>
  </div>
  <div class="flex flex-row my-2">
    <div class="md:w-1/3 flex flex-row itens-end">
      <div class="flex-1"></div>
      <label for="password" class="pt-1 font-bold">password</label>
      <div class="w-4"></div>
    </div>
    <div class="md:w-2/3">
      <input
        id="password"
        v-model="form.password"
        class ="shadow-inner border-gray-400 border text-sm px-2 pt-1 pb-2 rounded bg-gradient-to-b from-gray-100 to-gray-300"
        :class="{
          'text-red-700': valid.password == 1,
          'text-green-700': valid.password == 2 }"
        type="password"
        name="password"/>
      <div v-if="valid.password == 1" class="text-xm text-red-700">
        {{ msg.password }}
      </div>
    </div>
  </div>
  <div class="flex flex-row my-2">
    <div class="md:w-1/3 flex flex-row itens-end">
      <div class="flex-1"></div>
      <label for="username" class="pt-1 font-bold">username</label>
      <div class="w-4"></div>
    </div>
    <div class="md:w-2/3">
      <input
        id="username"
        v-model="form.username"
        class ="shadow-inner border-gray-400 border text-sm px-2 pt-1 pb-2 rounded bg-gradient-to-b from-gray-100 to-gray-300"
        :class="{
          'text-red-700': valid.username == 1,
          'text-green-700': valid.username == 2 }"
        type="text"
        name="username"/>
      <div v-if="valid.username == 1" class="text-xm text-red-700">
        {{ msg.username }}
      </div>
    </div>
  </div>
  <div class="flex flex-row px-4 pt-2 pb-8">
    <button class="hover:from-white hover:to-gray-300 bg-gradient-to-b from-gray-100 to-gray-300 text-gray-800 py-2 px-4 border border-gray-400 rounded shadow" @click="clear">clear</button>
    <div class="flex-1"></div>
    <button
      type="submit"
      class="hover:from-white hover:to-gray-300 bg-gradient-to-b from-gray-100 to-gray-300 text-gray-800 py-2 px-4 border border-gray-400 rounded shadow"
      :disabled="!valid.submit || sending">
      sign-up
    </button>
  </div>
  <div class="flex flex-row">
    <div class="flex-1"></div>
    <p>Already an user? <a class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600" href="/sign-in">Sign in now!</a></p>
    <div class="flex-1"></div>
  </div>
</form>
</template>

<script>
import axios from 'axios'

const auth = axios.create({
  baseURL: process.env.AUTH_ENDPOINT
})

export default {
  data: () => ({
    form: {
      email: '',
      username: '',
      password: ''
    },
    valid: {
      email: 0,
      username: 0,
      password: 0,
      submit: false
    },
    msg: {
      email: '',
      username: '',
      password: '',
      submit: ''
    },
    sending: false
  }),
  watch: {
    'form.email'(email) {
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      if(re.test(email))
        this.valid.email = 2
      else {
        this.valid.email = 1
        this.msg.email = "please type a valid email"
      }
      this.checkSubmit()
    },
    'form.password'(password) {
      const re = /^[A-z0-9]{8,32}$/
      if(re.test(password))
        this.valid.password = 2
      else {
        this.valid.password = 1
        this.msg.password = "password must contain from 8 to 32 alphanumeric chars"
      }
      this.checkSubmit()
    },
    'form.username'(username) {
      const re = /^[A-z][A-z0-9]*$/
      if(re.test(username))
        this.valid.username = 2
      else {
        this.valid.username = 1
        this.msg.username = "username must begin with A-z char followed by any amount alphanumeric chars"
      }
      this.checkSubmit()
    }
  },
  methods: {
    clear() {
      this.form = {
        email: '',
        username: '',
        password: ''
      }
    },
    async submit(event) {
      event.preventDefault()
      if(this.valid.submit && !this.sending) {
        this.sending = true
        try {
          const res = await auth.post('/register', this.form)
          const { accessToken } = res.data
          this.$store.commit('session/login', accessToken)
          const id = JSON.parse(atob(accessToken.split('.')[1])).sub
          this.$router.push(`/users/${id}`)
        } catch ({response}) {
          if(response?.status === 400) {
            this.msg.submit = response.data
          } else {
            this.msg.submit = "something went wrong, try again later"
          }
        } finally {
          this.sending = false
        }

      }
    },
    checkSubmit() {
      this.valid.submit = (this.valid.email === 2) && (this.valid.username === 2) && (this.valid.password === 2)
    }
  }
}
</script>

<style scoped>
button:disabled {
  color: #A0A0A0;
}
button:disabled:hover {
  cursor: not-allowed;
}
</style>